<div class="form">
    <h2>Add Student</h2>
    <div class="form-content">
        <%= form_with model: @student do |form|%>
            <%= form.label :profile_photo %>
            <%= form.file_field :profile_photo, accept: "image/png,image/jpeg,image/jpg" %>
            <% if form.object.errors.any? %>
                <h2 class="error"><%= form.object.errors.full_messages.first %></h2>
            <% end %>

            <div>
                <%=form.label :name%>
                <%= form.text_field :name%>
            </div>
            <div>
                <%=form.label :email%>
                <%= form.text_field :email%>
            </div>
            <div>
                <%=form.label :age%>
                <%= form.number_field :age%>
            </div>
            <div>
                <%= form.label :course %>
                <%= form.select :course,
                    Student::COURSES,
                    prompt: "All Courses" %>
            </div>
            <div>
                <%=form.label :city%>
                <%= form.text_field :city%>
            </div>
            <div>
                <%= form.label :marks %>
                <%= form.number_field :marks %>
            </div>
            <% if current_user.admin? %>
                <div>
                    <%= form.label :user_id, "Teacher" %>
                    <%= form.collection_select :user_id,
                        User.teacher,
                        :id,
                        :email,
                        prompt: "Select Teacher" %>
                </div>
            <% end %>
            <%= form.label :documents %>
                <%= form.file_field :documents, multiple: true, accept: ".pdf,.jpg,.jpeg,.png" %>
            <div>
                <%=form.submit%>
            </div>
        <% end %>
    </div>
</div>