<nav>
    <p>🎓Student Management</p>
        <div>
            <% if user_signed_in? %>
            
            <%= link_to "#{current_user.role.capitalize} Dashboard", root_path %>
            <%= link_to "Student List", students_path %>
            <%= link_to "Add Student", new_student_path %>
            <% if current_user.admin? %>
                <%= link_to "Teachers", users_path(role: :teacher) %>
            <% end %>
            
            <%= button_to "Logout",
                destroy_user_session_path,
                method: :delete,
                class: "logout-btn" %>
        <% else %>
                <%= link_to "Login", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
        </div>
</nav>