<div class="dashboard">
    <h2>🎓Dashboard</h2>
    <div class="dashboard-content">
        <div class="card">
            <h3>Total Students :</h3>
            <p><%= @total_students%></p>
        </div>
        <div class="card">
            <h3>Ruby Students :</h3>
            <p><%= @ruby_students%></p>
        </div>
        <div class="card">
            <h3>Rails Students :</h3>
            <p><%= @rails_students%></p>
        </div>
        <div class="card">
            <h3>React Students :</h3>
            <p><%= @react_students%></p>
        </div>
        <div class="card">
            <h3>Java Students :</h3>
            <p><%= @java_students%></p>
        </div>
    </div>
</div>