<% if turbo_frame_request? %>

  <%= turbo_frame_tag dom_id(@student) do %>
    <div class="edit student-card">
      <h2>✍️ Edit Student</h2>

      <%= render "form",
            student: @student,
            modal: false %>

      <%= link_to "Cancel",
            cancel_student_path(
              @student,
              search: params[:search],
              course: params[:course]
            ),
            class: "cancel-button" %>
    </div>
  <% end %>

<% else %>

  <div class="edit student-card">
    <h2>✍️ Edit Student</h2>

    <%= render "form",
          student: @student,
          modal: false %>

    <%= link_to "Cancel",
          students_path(
            search: params[:search],
            course: params[:course]
          ),
          class: "cancel-button" %>
  </div>

<% end %>