<div class="show">
    <h2><%= @student.name%></h2>
    <div class="show-student">
        <h3>Email:</h3><p><%= @student.email%> </p>
        <h3>Age:</h3><p><%= @student.age%> </p>
        <h3>Course:</h3><p><%= @student.course%></p>
        <h3>City:</h3><p><%= @student.city%></p>
        <h3>Results:</h3><p><%= @student.result%> </p>
    </div>
    <div>
        <%= link_to "Back", students_path%>
    </div>
</div>